<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVx8H9GnF1Lt6fUb0jgMB0ecTgf3QlO_A</string>
	<key>GCM_SENDER_ID</key>
	<string>1073287680615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectInt</string>
	<key>PROJECT_ID</key>
	<string>disaster-management-55930</string>
	<key>STORAGE_BUCKET</key>
	<string>disaster-management-55930.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073287680615:ios:7a954448d3f222c60b3ac2</string>
</dict>
</plist>